In [1]:
import pandas as pd

In [2]:
# importing file to clean
confirmed = pd.read_csv("confirmed_global.csv")
deaths = pd.read_csv('deaths_global.csv')
recovered = pd.read_csv('recovered_global.csv')

In [ ]:
# Show only COVID german confirmed cases
germany = confirmed.loc[confirmed['Country/Region']=='Germany']
germany

In [ ]:
# Dropping Province/State column from confirmed table
germany_confirmed_cases = germany.drop(['Province/State'], axis=1)
germany_confirmed_cases

In [ ]:
# Creating the new csv file of confirmed german cases
germany_confirmed_cases.to_csv('germany_confirmed_cases.csv')

In [ ]:
# Show only COVID german deaths
germany_deaths = deaths.loc[deaths['Country/Region']=='Germany']
germany_deaths

In [ ]:
# Dropping Province/State column from deaths table
germany_confirmed_deaths = germany_deaths.drop(['Province/State'], axis=1)
germany_confirmed_deaths

In [ ]:
# Creating the new csv file of confirmed german deaths
germany_confirmed_deaths.to_csv('germany_confirmed_deaths.csv')

In [6]:
# Show only COVID german recovered cases
germany_recovered = recovered.loc[recovered['Country/Region']=='Germany']
germany_recovered

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
118,NaN,Germany,51.165691,10.451526,0,0,0,0,0,0,...,2552020,2566530,2575740,2585850,2587580,2604890,2638320,2640300,2654930,2668910

In [8]:
# Dropping Province/State column from deaths table
germany_confirmed_recovered = germany_recovered.drop(['Province/State'], axis=1)
germany_confirmed_recovered

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
118,Germany,51.165691,10.451526,0,0,0,0,0,0,0,...,2552020,2566530,2575740,2585850,2587580,2604890,2638320,2640300,2654930,2668910

In [9]:
# Creating the new csv file of confirmed german recovered
germany_confirmed_recovered.to_csv('germany_confirmed_recovered.csv')