In [1]:
import pandas as pd

In [3]:
# importing file to clean
confirmed = pd.read_csv('confirmed_global.csv')
deaths = pd.read_csv('deaths_global.csv')
recovered = pd.read_csv('recovered_global.csv')

In [23]:
# Show only COVID german and venezuelan confirmed cases
countries_confirmed_cases = confirmed.loc[(confirmed['Country/Region']=='Germany') | (confirmed['Country/Region']=='Venezuela')]
countries_confirmed_cases

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
133,NaN,Germany,51.165691,10.451526,0,0,0,0,0,1,...,2866323,2882356,2886029,2896329,2902309,2909902,2940279,2966789,2990724,3009452
268,NaN,Venezuela,6.423800,-66.589700,0,0,0,0,0,0,...,161751,162730,164337,166123,167548,169074,170189,171373,172461,173786

In [24]:
# Dropping Province/State column from confirmed table
confirmed_cases = countries_confirmed_cases.drop(['Province/State'], axis=1)
confirmed_cases

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
133,Germany,51.165691,10.451526,0,0,0,0,0,1,4,...,2866323,2882356,2886029,2896329,2902309,2909902,2940279,2966789,2990724,3009452
268,Venezuela,6.423800,-66.589700,0,0,0,0,0,0,0,...,161751,162730,164337,166123,167548,169074,170189,171373,172461,173786

In [27]:
# Creating the new csv file of confirmed german cases
confirmed_cases.to_csv('confirmed_cases.csv')

In [28]:
# Show only COVID german and venezuelan deaths
countries_deaths_cases = deaths.loc[(deaths['Country/Region']=='Germany') | (deaths['Country/Region']=='Venezuela')]
countries_deaths_cases

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
133,NaN,Germany,51.165691,10.451526,0,0,0,0,0,0,...,76823,76940,77010,77060,77136,77245,77755,78049,78295,78402
268,NaN,Venezuela,6.423800,-66.589700,0,0,0,0,0,0,...,1615,1629,1647,1662,1678,1693,1705,1720,1739,1759

In [29]:
# Dropping Province/State column from deaths table
deaths_cases = countries_deaths_cases.drop(['Province/State'], axis=1)
deaths_cases

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
133,Germany,51.165691,10.451526,0,0,0,0,0,0,0,...,76823,76940,77010,77060,77136,77245,77755,78049,78295,78402
268,Venezuela,6.423800,-66.589700,0,0,0,0,0,0,0,...,1615,1629,1647,1662,1678,1693,1705,1720,1739,1759

In [30]:
# Creating the new csv file of confirmed german deaths
deaths_cases.to_csv('deaths_cases.csv')

In [6]:
# Show only COVID german recovered cases
germany_recovered = recovered.loc[recovered['Country/Region']=='Germany']
germany_recovered

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
118,NaN,Germany,51.165691,10.451526,0,0,0,0,0,0,...,2552020,2566530,2575740,2585850,2587580,2604890,2638320,2640300,2654930,2668910

In [8]:
# Dropping Province/State column from deaths table
germany_confirmed_recovered = germany_recovered.drop(['Province/State'], axis=1)
germany_confirmed_recovered

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/1/21,4/2/21,4/3/21,4/4/21,4/5/21,4/6/21,4/7/21,4/8/21,4/9/21,4/10/21
118,Germany,51.165691,10.451526,0,0,0,0,0,0,0,...,2552020,2566530,2575740,2585850,2587580,2604890,2638320,2640300,2654930,2668910

In [9]:
# Creating the new csv file of confirmed german recovered
germany_confirmed_recovered.to_csv('germany_confirmed_recovered.csv')